{% extends "base.html" %}

{% block title %}Ithkuil Analyzer{% endblock %}

{% block breadcrumbs %}
&nbsp;&gt;&nbsp;
<a href="{% url 'home' %}">Index</a>
&nbsp;&gt;&nbsp;
<a href="{% url 'analyzer:index' %}">Analyzer</a>
&nbsp;&gt;&nbsp;
{% endblock %}

{% block content %}
<center><h1>Analyzer</h1></center>
<ul>
{% for r in result %}
<li><b>{{ r.word }}</b><br/>
<b>Type: {{ r.type }}</b><br/>
<i>{{ r.abbrev }}</i><br/>
<table class="analysis">
{% for k, v in r.categories %}
<tr>
<td>{{ k }}</td> 
<td>{% if v.id %}
<a href="{% url 'morphology:cat_val' v.id %}">
{% endif %}
{% firstof v.name v.code v %}
{% if v.id %}
</a>
{% endif %}
</td>
</tr>
{% endfor %}
</table><br/>
{% if r.suffixes %}
Suffixes:<br/>
<table class="analysis">
{% for suf in r.suffixes %}
<tr><td><a href="{% url 'morphology:cat_val' suf.suffix.id %}">
{% firstof suf.suffix.name suf.suffix.code %}
</a></td>
<td>{{ suf.degree.name }}</td></tr>
{% endfor %}
</table><br/>
{% endif %}
</li>
{% endfor %}
</ul>
{% endblock %}
