{% extends "base.html" %}

{% block title %}Ithkuil - Category: {{ category.name }}{% endblock %}

{% block breadcrumbs %}
&nbsp;&gt;&nbsp;
<a href="{% url 'home' %}">Index</a>
&nbsp;&gt;&nbsp;
<a href="{% url 'morphology:index' %}">Morphology</a>
&nbsp;&gt;&nbsp;
<a href="{% url 'morphology:category' category.id %}">{{ category.name }}</a>
&nbsp;&gt;&nbsp;
{% endblock %}

{% block content %}
{% if category %}
	<b>{{ category.name }}</b><br/>
	<p>{{ category.description }}</p>
	<b>Values:</b><br/>
	<ul>
	{% for val in values %}
		<li><a href="{% url 'morphology:cat_val' val.id %}">{% if val.name %}{{ val.name }}{% else %}{{ val.code }}{% endif %}</a></li>
	{% endfor %}
	</ul>
{% else %}
	<b>BLA</b>
{% endif %}
	<a href="{% url 'morphology:index' %}">Back to index</a><br/>
{% endblock %}
